* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
    background-image:linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    color: black;
}

main {
	max-width: 800px;
	width: 90%;
	margin:auto;
	padding: 40px;
	height: auto;
}

h1{
	text-align: center;
}

/* --------Formulario-------- */
.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	background-color: #8fbbee;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 20px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 90%;
	margin-left: 20px;
	margin-right: 10px;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0px 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #00438f;
	outline: none;
	box-shadow: 3px 0px 30px rgba(111, 117, 214, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	margin-left: 20px;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 18px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: rgb(5, 15, 71);
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgb(11, 10, 100);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #080a8b;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

/* ------------------- Footer --------------------------*/
.footer{
    border-top: 2px solid white;
    padding-top: 30px;
    margin-top: 20px;
    margin-left: 20px;
	cursor: pointer;
}

.diseñador{
    height: fit-content;
    width: 100%;
    display:flex;
    flex-direction: row;
    font-size: 15px;
    color: black;
}

.ft-container{
    border-top: 2px solid white;
    height: 150px;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
	font-size: 25px;
}

.redes{
    width: 40%;
	margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
}

.sociales{
    width: 100%;
    display: grid;
    grid-template-rows: auto;
}

.men{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: left;
    color: black;
}

.foot{
    width: 100%;
    padding-top: 0px;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

/* ----- -----  Mediaqueries ----- ----- */
	.formulario__btn {
		width: 100%;
	}
}